{% extends 'base.html.twig' %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('assets/js/custom-slider.js') }}"></script>
	<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

	<script>
		document.addEventListener("DOMContentLoaded", function () {
var dateSpan = document.getElementById("Aujourdhui");
var heureSpan = document.getElementById("HeureActuelle");

function updateDateTime() {
var currentDate = new Date();

var timeOptions = {
hour: '2-digit',
minute: '2-digit'
};

var formattedTime = currentDate.toLocaleTimeString('fr-FR', timeOptions);

var dateOptions = {
weekday: 'long',
year: 'numeric',
month: 'long',
day: 'numeric'
};

var formattedDate = currentDate.toLocaleDateString('fr-FR', dateOptions);

dateSpan.textContent = formattedDate;
heureSpan.textContent = formattedTime;
}

// Mise à jour initiale
updateDateTime();

// Mise à jour toutes les 60 secondes (ajustez l'intervalle selon vos besoins)
setInterval(updateDateTime, 60000);
});
	</script>
	<!-- Ajouter le widget météo -->

{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
	<link rel="stylesheet" href="{{ asset('assets/css/custom-slider.css') }}">
{% endblock %}

{% block body %}
	<div class="swiper-container">
		<div
			class="swiper-wrapper">
			<!-- Diapositive 1 -->
			<div class="swiper-slide" style="height: 100vh; position: relative;">
				<img src="{{ asset('assets/img/Ehpad-La-Roseraie-min-min.jpg') }}" alt="Red Slide" style="height: 100%">
				<div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
					<img src="{{ asset('assets/img/LOGO-blanc-LaRoseraie-vector.svg') }}" alt="Logo SVG" style="width: 50%; height: auto; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
				</div>
			</div>


			<!-- Diapositive 2 -->
			<div class="swiper-slide">
				<div class="dateDuJour">
					<h1>Nous sommes le</h1>
					<h1>
						<span id="Aujourdhui"></span>
					</h1>
					<h1>Il est
						<span id="HeureActuelle"></span>
					</h1>
					<br>
					{# Widget pour la météo :  #}
					<div id="ww_bc2631a0d5030" v='1.3' loc='auto' a='{"t":"horizontal","lang":"fr","sl_lpl":1,"ids":["wl3286"],"font":"Arial","sl_ics":"one_a","sl_sot":"celsius","cl_bkg":"image","cl_font":"#FFFFFF","cl_cloud":"#FFFFFF","cl_persp":"#81D4FA","cl_sun":"#FFC107","cl_moon":"#FFC107","cl_thund":"#FF5722"}'>Plus de prévisions:
						<a href="https://oneweather.org/fr/paris/30_jours/" id="ww_bc2631a0d5030_u" target="_blank">30 jours previsions meteo</a>
					</div>
					<script async src="https://app2.weatherwidget.org/js/?id=ww_bc2631a0d5030"></script>
					<br>
					{# Widget pour les fêtes du jour :  #}
					<div id="widget_nominis" class="css_nominis"></div>
					<script type="text/javascript" src="https://nominis.cef.fr/widgets/widget.php?id=widget_nominis&format=1"></script>
				</div>

			</div>

			<!-- Diapositive 3 (Menu du jour) -->
			<div class="swiper-slide">
				<div class="content-wrapper" id="sectionMenuJour">
					<h1 class="menuTitle">Menu du jour</h1>
					<h3 class="card-header menuMidi">Menu du midi</h3>

					{% if menus|length > 0 %}
						<div class="contenuMenu">
							<div class="card text-white bg-info mb-3">
								<h4 class="card-header">Entrée :</h4>
								<div class="card-body">
									<ul class="list-group">
										{% for menu in menus %}
											<li class="list-group-item">
												<a href="{{ path('app_menu_modifier_midi', {'id': menu.getId()}) }}" style="text-decoration: none; color: #326495;">
													<p class="donnee">{{ menu.getEntree() }}</p>
												</a>

											</li>
										{% endfor %}
									</ul>
								</div>
							</div>

							<div class="card text-white bg-info mb-3">
								<h4 class="card-header">Protéine :</h4>
								<div class="card-body">
									<ul class="list-group">
										{% for menu in menus %}
											<li class="list-group-item">
												<a href="{{ path('app_menu_modifier_midi', {'id': menu.getId()}) }}" style="text-decoration: none; color: #326495;">
													<p class="donnee">{{ menu.getProteine() }}</p>
												</a>
											</li>
										{% endfor %}
									</ul>
								</div>
							</div>

							<div class="card text-white bg-info mb-3">
								<h4 class="card-header">Accompagnement :</h4>
								<div class="card-body">
									<ul class="list-group">
										{% for menu in menus %}
											<li class="list-group-item">
												<a href="{{ path('app_menu_modifier_midi', {'id': menu.getId()}) }}" style="text-decoration: none; color: #326495;">
													<p class="donnee">{{ menu.getAccompagnement() }}</p>
												</a>
											</li>
										{% endfor %}
									</ul>
								</div>
							</div>

							<div class="card text-white bg-info mb-3">
								<h4 class="card-header">Dessert :</h4>
								<div class="card-body">
									<ul class="list-group">
										{% for menu in menus %}
											<li class="list-group-item">
												<a href="{{ path('app_menu_modifier_midi', {'id': menu.getId()}) }}" style="text-decoration: none; color: #326495;">
													<p class="donnee">{{ menu.getDessert() }}</p>
												</a>

											</li>
										{% endfor %}
									</ul>
								</div>
							</div>
						</div>
					{% endif %}
				</div>
			</div>

			<!-- Diapositive 4 (Menu du soir) -->
			<div class="swiper-slide">
				<div class="content-wrapper">
					<h3 class="card-header menuMidi">Menu du soir</h3>

					{% if menus|length > 0 %}
						<div class="contenuMenu">
							<div class="card text-white bg-info mb-3">
								<h4 class="card-header">Entrée :</h4>
								<div class="card-body">
									<ul class="list-group">
										{% for menu in menus %}
											<li class="list-group-item">
												<a href="{{ path('app_menu_modifier_soir', {'id': menu.getId()}) }}" style="text-decoration: none; color: #326495;">
													<p class="donnee">{{ menu.EntreeSoir() }}</p>
												</a>
											</li>
										{% endfor %}
									</ul>
								</div>
							</div>

							<div class="card text-white bg-info mb-3">
								<h4 class="card-header">Protéine :</h4>
								<div class="card-body">
									<ul class="list-group">
										{% for menu in menus %}
											<li class="list-group-item">
												<a href="{{ path('app_menu_modifier_soir', {'id': menu.getId()}) }}" style="text-decoration: none; color: #326495;">
													<p class="donnee">{{ menu.getProteineSoir() }}</p>
												</a>
											</li>
										{% endfor %}
									</ul>
								</div>
							</div>

							<div class="card text-white bg-info mb-3">
								<h4 class="card-header">Accompagnement :</h4>
								<div class="card-body">
									<ul class="list-group">
										{% for menu in menus %}
											<li class="list-group-item">
												<a href="{{ path('app_menu_modifier_soir', {'id': menu.getId()}) }}" style="text-decoration: none; color: #326495;">
													<p class="donnee">{{ menu.getAccompagnementSoir() }}</p>
												</a>
											</li>
										{% endfor %}
									</ul>
								</div>
							</div>

							<div class="card text-white bg-info mb-3">
								<h4 class="card-header">Dessert :</h4>
								<div class="card-body">
									<ul class="list-group">
										{% for menu in menus %}
											<li class="list-group-item">
												<a href="{{ path('app_menu_modifier_soir', {'id': menu.getId()}) }}" style="text-decoration: none; color: #326495;">
													<p class="donnee">{{ menu.getDessertSoir() }}</p>
												</a>
											</li>
										{% endfor %}
									</ul>
								</div>
							</div>
						</div>
					{% endif %}
				</div>
			</div>

			<!-- Diapositive 5 (Animation voiture) -->
			<div class="swiper-slide">
				<div class="animationContainer">
						<div class="textEtImage">
							<div class="road">
								<img src="{{ asset('assets/img/centre de la roseraie.png') }}" alt="Road" class="road-image">
								<img src="{{ asset('assets/img/voiture.png') }}" alt="Car" class="car" id="car">
							</div>

							<div class="textArrivee">
								<h1 class="arrivee">Arrivées :</h1>
								<p>Qui a bien pu arriver aujourd'hui ?</p>
							</div>
						</div>
					</div>
				</div>

				<!-- Pagination -->
			{# <div class="swiper-pagination"></div> #}

				<!-- Navigation next/prev -->
				{# <div class="swiper-button-next"></div>
										        <div class="swiper-button-prev"></div> #}
			</div>
		{% endblock %}
